hsplit {
    tabs share=0.5 {
        log_stream "fsw.log" name="Flight Software Log"
    }
    vsplit share=0.5 {
        tabs {
            viewport name=Viewport pos="(0,0,0,0, 0,0,12)" look_at="(0,0,0,0, 0,0,0)" show_grid=#true
        }
        graph "ball.wind" name="Wind (m/s)"
    }
}
object_3d ball.world_pos {
    sphere radius=0.3 {
        color orange
    }
}
object_3d "(0,0,0,1, 0,0,0)" {
    plane width=10 depth=10 {
        color 32 128 32 200
    }
}
vector_arrow "ball.wind" origin="(0,0,0,1, 0,0,0.5)" scale=0.3 name="Wind" show_name=#true {
    color cyan 200
}
