.DS_Store
target
out.png
out.rrd
.idea
result
result-bin
.venv
.vscode
node_modules

# kubernetes
kubernetes/deploy
out.yaml
out-with-envs.yaml

# secrets

elo-dashboard-secret.env
*key.json

# buildkite

.buildkite/__pycache__
.buildkite/pipeline.json

libs/nox-py/assets
