.DS_Store
target
out.png
out.rrd
.idea
result
result-bin
.venv
.vscode
node_modules
profile_output

# ai
ai-context

# kubernetes
kubernetes/deploy
out.yaml
out-with-envs.yaml

# secrets

*key.json

# buildkite

.buildkite/__pycache__
.buildkite/pipeline.json

# python
__pycache__
*.pyc
*.pyo
*.pyd
**/venv/
**/.venv/

# examples
betaflight_*
eeprom.bin

examples/rocket-barrowman/motor_cache/
examples/rocket-barrowman/*.log
**/rocket.glb
dbs
*.log
