[workspace]
resolver = "2"
members = [
    "libs/conduit",
    "libs/nox",
    "libs/nox-ecs",
    "libs/nox-ecs-macros",
    "libs/nox-py",
    "libs/xla-rs",
]

[workspace.package]
version = "0.1.0"
