
    tabs {
        hsplit share=0.65 name="Flight View" {
            viewport name=Viewport pos="rocket.world_pos + (0,0,0,0, 6,3,2)" look_at="rocket.world_pos" hdr=#true show_grid=#true active=#true
            vsplit share=0.45 {
                graph "rocket.altitude_m,rocket.downrange_m" name="Altitude / Downrange"
                graph "rocket.speed_ms,rocket.accel_ms2" name="Speed / Accel"
                graph "rocket.dynamic_pressure_pa,rocket.mach,rocket.aero_force_n" name="Aero Loads"
            }
        }
        hsplit share=0.35 name="Orientation" {
            graph "rocket.euler_deg[0],rocket.euler_deg[1],rocket.euler_deg[2]" name="Euler Angles"
            graph "rocket.angular_rates_deg[0],rocket.angular_rates_deg[1],rocket.angular_rates_deg[2]" name="Body Rates"
        }
    }

    object_3d "(0,0,0,1, rocket.world_pos[4],rocket.world_pos[5],rocket.world_pos[6])" {
        glb path="compass.glb"
    }
    object_3d rocket.world_pos {
        glb path="assets/rocket.glb"
    }
    line_3d rocket.world_pos line_width=2.0 perspective=#false {
        color 255 223 0
    }
    