
    hsplit {
        tabs share=0.8 {
            viewport name=Viewport pos="rocket.world_pos + (0.0,0.0,0.0,0.0, 5.0, 0.0, 1.0)" look_at="rocket.world_pos" hdr=#true
        }
        vsplit share=0.4 {
            graph "rocket.fin_control_trim" name="Trim Control"
            graph "rocket.fin_deflect" name="Fin Deflection"
            graph "rocket.aero_coefs" name="Aero Coefficients"
        }
    }

    object_3d "(0,0,0,1, rocket.world_pos[4],rocket.world_pos[5],rocket.world_pos[6])" {
        glb path="compass.glb"
    }
    object_3d rocket.world_pos {
        glb path="https://storage.googleapis.com/elodin-assets/rocket.glb"
    }
    line_3d rocket.world_pos line_width=11.0 perspective=#false {
        color yolk
    }
    