tabs {
    hsplit name="Viewport" {
        viewport name=Viewport pos="drone.world_pos + (0,0,0,0, 2,2,2)" look_at="drone.world_pos" show_grid=#true active=#true
        vsplit share=0.4 {
            graph "drone.angle_desired" name="Angle Desired"
            graph "drone.world_pos.q0, drone.world_pos.q1, drone.world_pos.q2, drone.world_pos.q3, drone.attitude_target" name="World Pos"
            graph "drone.ang_vel_setpoint" name="Angular Velocity SP"
        }
    }
    vsplit name="Sensor Panel" {
        graph "drone.gyro" name="Gyro"
        graph "drone.accel" name="Accel"
        graph "drone.magnetometer" name="Magnetometer"
    }
}

window path="examples/drone/motor-panel.kdl"
window path="examples/drone/rate-control-panel.kdl"
