<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#000000" />

    <script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.x/dist/index.umd.js">
    </script>

    <.live_title>
      <%= assigns[:page_title] || "Elodin" %>
    </.live_title>
    <script>
      (function () {
        var script = document.createElement("script");
        script.onload = () => {
          // Grafana Faro WebSdk for Real User Metrics (RUM) Observability
          // https://grafana.com/docs/grafana-cloud/monitor-applications/frontend-observability/faro-web-sdk/
          var is_prod = window.location.host.includes('elodin.systems');
          var app_id = is_prod ? '76f1358c78a12ff44f8c6c4c1f9eb602' : '5cba6fd7267e4853d08a98ea40a68678';
          var app_name = is_prod ? 'elodin-app' : 'elodin-dev';

          window.GrafanaFaroWebSdk.initializeFaro({
            url: 'https://faro-collector-prod-us-west-0.grafana.net/collect/' + app_id,
            app: {
              name: app_name,
              version: "1.0.0",
            },
          });
        };

        script.src =
          "https://unpkg.com/@grafana/faro-web-sdk@^1.0.0/dist/bundle/faro-web-sdk.iife.js";
        document.head.appendChild(script);
      })();
    </script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <div class="h-full w-full flex-col">
      <%= @inner_content %>
    </div>
  </body>
</html>
