@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../../deps/live_monaco_editor/priv/static/live_monaco_editor.min.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* This file is for your main application CSS */

:root {
  color-scheme: dark;
}

html, body, [data-phx-main], main {
    height: 100%;
  font-feature-settings: "ss04" 1;
}

.code-editor {
    height: 100% !important;
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --primitive-colors-black-black-600: rgba(31, 31, 31, 1);
  --primitive-colors-black-black-800: rgba(13, 13, 13, 1);
  --primitive-colors-brand-hyper-red: rgba(238, 58, 67, 1);
  --primitive-colors-white-opacity-100: rgba(255, 255, 255, 0.1);
  --primitive-colors-white-opacity-50: rgba(255, 255, 255, 0.05);
  --primitive-colors-white-opacity-900: rgba(255, 255, 255, 1);
  --primitive-spacing-1: 4px;
  --primitive-spacing-4: 16px;
  --primitive-spacing-5: 24px;
  --tokens-proto-terminal-up: none;
  --tokens-spacing-system-radius-xs: var(--primitive-spacing-1);
  --tokens-spacing-system-spacing-lg: var(--primitive-spacing-4);
  --tokens-spacing-system-spacing-xl: var(--primitive-spacing-5);
  --tokens-spacing-system-spacing-xxs: var(--primitive-spacing-1);
  --tokens-surface-primary: var(--primitive-colors-black-black-800);
  --tokens-surface-secondary: var(--primitive-colors-black-black-600);
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/IBMPlexSans-Medium.ttf);
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/IBMPlexSans-SemiBold.ttf);
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-feature-settings: "ss04" 1;
  src: url(/fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-feature-settings: "ss04" 1;
  src: url(/fonts/IBMPlexMono-Medium.ttf);
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-feature-settings: "ss04" 1;
  src: url(/fonts/IBMPlexMono-SemiBold.ttf);
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-feature-settings: "ss04" 1;
  src: url(/fonts/IBMPlexMono-Bold.ttf);
}


.display-on-hover {
  overflow: hidden;
}
.display-on-hover .display-on-hover-show {
  width: 0;
  height: 18px;
  box-sizing: border-box;
  display: none;
  overflow: hidden;
  white-space: nowrap;
}
.display-on-hover:hover .display-on-hover-show {
  display: flex;
  width: 140px;
}

.display-on-hover:hover .display-on-hover-hide {
  display: none;
}

#fireworks canvas {
  mask-image: url(/images/o-logo.svg);
  -webkit-mask-image: url(/images/o-logo.svg);
  background-color: black;
  mask-repeat: no-repeat;
  mask-size: 300px 375.652px;
}
