<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#000000" />
    <title>Elodin - 404 Not Found</title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body>
    <div class="bg-slate w-full h-full flex items-center justify-center flex-col gap-6">
      <h1 class="text-primary-creame text-2xl font-mono font-medium">
        404 Not Found
      </h1>
      <a
        class="text-primary-creame font-mono font-medium text-opacity-70 hover:text-opacity-100 transition-all border-b-2 border-solid border-primary-creame border-opacity-50 hover:border-opacity-100"
        href="/"
      >
        Go Back Home
      </a>
    </div>
  </body>
</html>
