<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#000000" />
    <title>Elodin - 500 Internal Server Error</title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body>
    <div class="bg-reddish w-full h-full flex items-center justify-center">
      <h1 class="text-primary-creame text-2xl font-mono font-medium">
        500 Internal Server Error
      </h1>
    </div>
  </body>
</html>
