(
    version: 2,
    entries: [
        (
            name: "desert_night",
            prompt: "middle of empty outer space star field background",
            style: M3Photoreal,
            blockade: Some((
                imagine_id: 15450963,
                obfuscated_id: Some("694281cb16f9002d4330801b3a6e6c3d"),
                seed: None,
            )),
            cubemap_file: "desert_night.cubemap.ktx2",
            face_size: 2048,
            created_at: "2026-06-16T22:52:24.646277Z",
        ),
    ],
    default: Some("desert_night"),
)
