h1 {
    font-family: "Space Grotesk";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #0d0d0d;
    margin-bottom: 35px;
    margin-left: -1px;
}

h1 code {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.2px;
}

body.dark h1 {
    color: #fffbf0;
}

h2 {
    font-family: "IBM Plex Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #0d0d0d;
    margin-bottom: 27px;
}

h2 code {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

body.dark h2 {
    color: #fffbf0;
}

h3 {
    font-family: "IBM Plex Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #0d0d0d;
    margin-bottom: 4.3px;
    padding-bottom: 10px;
}

h3 code {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    margin-bottom: 4.3px;
}

body.dark h3 {
    color: #fffbf0;
}

h4 {
    font-family: "IBM Plex Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #0d0d0d;
    margin-bottom: 4.3px;
    padding-bottom: 10px;
}

h4 code {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

body.dark h4 {
    color: #fffbf0;
}

body {
    color: #0d0d0d99;
    font-family: "IBM Plex Sans";
    font-size: 16px !important;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.01px;
    background-color: #e4d9c3;
}

body.dark {
    color: #fffbf099;
    font-family: "IBM Plex Sans";
    font-size: 16px !important;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.01px;
    background-color: #171615;
}

code {
    color: #0d0d0d;
    font-family: "IBM Plex Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #b6ae9c;
    background: rgba(255, 251, 240, 0.6);
    padding: 4px 6px;
}

body.dark code {
    color: #fffbf0;
    border: 1px solid #454544;
    background: rgba(23, 22, 21, 0.6);
}

table {
    background-color: #e4d9c3;
    border-color: #e4d9c3;
}

body.dark table {
    color: #fffbf099;
    background-color: #171615;
    --bs-table-bg: #171615;
}

td {
    border-color: unset;
}

.docs-content a {
    color: #20813a;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-decoration-line: underline;
}

body.dark .docs-content a {
    color: #88de9f;
}

.tom-blue .docs-content a {
    color: #1437f5;
}

body.dark .tom-blue .docs-content a {
    color: #3c67f6;
}

.tom-orange .docs-content a {
    color: #c04600;
}

body.dark .tom-orange .docs-content a {
    color: #ff6f1e;
}

.navbar-light .navbar-nav .nav-link {
    color: #0d0d0d;
    font-family: "IBM Plex Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

body.dark .navbar-light .navbar-nav .nav-link {
    color: #fffbf0;
}

.navbar-light .navbar-nav .nav-link:hover {
    border-radius: 5px;
    background: rgba(13, 13, 13, 0.05);
    color: #0d0d0d;
}

body.dark .navbar-light .navbar-nav .nav-link:hover {
    background: rgba(255, 251, 240, 0.05);
    color: #fffbf0;
}

.navbar-light .navbar-nav .get-started > .nav-link {
    border-radius: 5px;
    color: #20813a !important;
    background: rgba(32, 129, 58, 0.1);
}

body.dark .navbar-light .navbar-nav .get-started > .nav-link {
    color: #88de9f !important;
    background: rgba(136, 222, 159, 0.05) !important;
}

.navbar-light .navbar-nav .reference > .nav-link {
    border-radius: 5px;
    color: #1437f5 !important;
    background: #1437f51a;
}

body.dark .navbar-light .navbar-nav .reference > .nav-link {
    color: #3c67f6 !important;
    background: #3c67f61a !important;
}

.navbar-light .navbar-nav .releases > .nav-link {
    border-radius: 5px;
    color: #c04600 !important;
    background: #c046001a;
}

body.dark .navbar-light .navbar-nav .releases > .nav-link {
    color: #ff6f1e !important;
    background: #ff6f1e0d !important;
}

.main-nav .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.page-links a {
    color: #0d0d0d99;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding-bottom: 7px;
}

body.dark .page-links a {
    color: #fffbf099;
}

.page-links a:hover {
    color: #0d0d0d;
}

body.dark .page-links a:hover {
    color: #fffbf0;
}

.docs-content ul ul {
    padding-bottom: 25px;
}

.page-links ul ul a {
    font-weight: 400;
}

.header-bar {
    display: none;
}

.navbar {
    border-bottom: 1px solid #b6ae9c;
    background-color: #e4d9c3;
    color: #0d0d0d;
    padding: 0px;
}

body.dark .navbar {
    border-bottom: 1px solid #454544;
    background-color: #171615;
    color: #fffbf0 !important;
}

body.dark .navbar-light .nav-link-icon {
    color: #fffbf0;
}

.navbar-light .nav-link-icon {
    color: #0d0d0d;
}

.nav-link-icon {
    font-size: 26px !important;
    padding-right: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-link-icon:hover {
    background-color: transparent !important;
}

.nav-item svg {
    vertical-align: unset;
}

.docs-sidebar {
    border-right: 1px solid #b6ae9c;
}

body.dark .docs-sidebar {
    border-right: 1px solid #454544;
}

.docs-links {
    padding-left: 20px;
    margin-left: -28px;
    scrollbar-color: #ffffff00 #ffffff00 !important;
}

.docs-links::-webkit-scrollbar {
    display: none;
}

:root {
    scrollbar-width: none;
}

.docs-links ul {
    margin-bottom: -0.29rem;
}

.docs-links .active {
    color: #20813a !important;
    background: rgba(32, 129, 58, 0.1) !important;
    border-left: 2px solid #20813a !important;
}

body.dark .docs-links .active {
    color: #88de9f !important;
    background: rgba(136, 222, 159, 0.05) !important;
    border-left: 2px solid #88de9f !important;
}

.tom-blue .docs-links .active {
    color: #1437f5 !important;
    background: #1437f51a !important;
    border-left: 2px solid #1437f5 !important;
}

body.dark .tom-blue .docs-links .active {
    color: #3c67f6 !important;
    background: #3c67f61a !important;
    border-left: 2px solid #3c67f6 !important;
}

.tom-orange .docs-links .active {
    color: #c04600 !important;
    background: #c046001a !important;
    border-left: 2px solid #c04600 !important;
}

body.dark .tom-orange .docs-links .active {
    color: #ff6f1e !important;
    background: #ff6f1e0d !important;
    border-left: 2px solid #ff6f1e !important;
}

a.docs-link {
    color: #0d0d0d99;
    height: 32px;
    width: 200px !important;
    padding-left: 10px !important;
    margin-left: -12px !important;
}

body.dark a.docs-link {
    color: #fffbf099;
}

a.docs-link:hover {
    color: #0d0d0d;
    background: rgba(13, 13, 13, 0.05);
    border-left: 2px solid #b6ae9c;
}

body.dark a.docs-link:hover {
    color: #fffbf0;
    background: rgba(255, 251, 240, 0.05);
    border-left: 2px solid #454544;
}

.form-control.is-search {
    border-radius: 2px;
    background: #cdc3b0 !important;
    color: rgba(13, 13, 13, 0.6) !important;
    font-family: "IBM Plex Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    padding-left: 30px;
    line-height: 24px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.73889 2.64479C3.09101 2.64479 1.75514 3.99778 1.75514 5.66677C1.75514 7.33577 3.09101 8.68875 4.73889 8.68875C6.38677 8.68875 7.72263 7.33577 7.72263 5.66677C7.72263 3.99778 6.38677 2.64479 4.73889 2.64479ZM0 5.66677C0 3.01602 2.12167 0.867157 4.73889 0.867157C7.3561 0.867157 9.47778 3.01602 9.47778 5.66677C9.47778 6.64508 9.18878 7.55503 8.69253 8.31382C8.68536 8.32479 8.70108 8.33765 8.71029 8.32832C8.71449 8.32407 8.72135 8.32407 8.72555 8.32832L11.6156 11.2554C11.9552 11.5993 11.9552 12.1524 11.6156 12.4964C11.2698 12.8466 10.7045 12.8466 10.3587 12.4964L7.48097 9.58175C6.707 10.1388 5.76071 10.4664 4.73889 10.4664C2.12167 10.4664 0 8.31753 0 5.66677Z' fill='%23171615'/%3E%3C/svg%3E") !important;
    background-position: 10px 10px !important;
    background-repeat: no-repeat !important;
}

body.dark .form-control.is-search {
    background: #2e2d2c !important;
    color: rgba(255, 251, 240, 0.6) !important;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector (Stroke)' fill-rule='evenodd' clip-rule='evenodd' d='M4.73889 2.64479C3.09101 2.64479 1.75514 3.99778 1.75514 5.66677C1.75514 7.33577 3.09101 8.68875 4.73889 8.68875C6.38677 8.68875 7.72263 7.33577 7.72263 5.66677C7.72263 3.99778 6.38677 2.64479 4.73889 2.64479ZM0 5.66677C0 3.01602 2.12167 0.867157 4.73889 0.867157C7.3561 0.867157 9.47778 3.01602 9.47778 5.66677C9.47778 6.64508 9.18878 7.55503 8.69253 8.31382C8.68536 8.32479 8.70108 8.33765 8.71029 8.32832C8.71449 8.32407 8.72135 8.32407 8.72555 8.32832L11.6156 11.2554C11.9552 11.5993 11.9552 12.1524 11.6156 12.4964C11.2698 12.8466 10.7045 12.8466 10.3587 12.4964L7.48097 9.58175C6.707 10.1388 5.76071 10.4664 4.73889 10.4664C2.12167 10.4664 0 8.31753 0 5.66677Z' fill='%23E4D9C3'/%3E%3C/svg%3E%0A") !important;
    background-position: 10px 10px !important;
    background-repeat: no-repeat !important;
}

.form-control.is-search:focus {
    box-shadow: 0 0 0 0 !important;
}

// supports the inline alert styles on the previous docs site
.el-alert {
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-bottom: 16px;
    margin-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 24px;
    text-align: start;
    text-size-adjust: 100%;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.el-alert p {
    margin-bottom: 0;
}

.el-alert a {
    font-size: 14px !important;
}

// WARNING
.el-warning {
    @extend .el-alert;
    color: #e94b14 !important;
    background-color: rgba(233, 75, 20, 0.1) !important;
    border-color: rgba(233, 75, 20, 0.4) !important;
}

.el-warning a {
    color: #e94b14 !important;
}

body.dark .el-warning {
    @extend .el-alert;
    color: #e94b14 !important;
    background-color: rgba(233, 75, 20, 0.1) !important;
    border-color: rgba(233, 75, 20, 0.4) !important;
    color-scheme: dark;
}

body.dark .el-warning a {
    color: #e94b14 !important;
}

// NOTICE
.el-notice {
    @extend .el-alert;
    color: #1437f5 !important;
    background-color: rgba(20, 55, 245, 0.05) !important;
    border-color: rgba(20, 55, 245, 0.4) !important;
}

.el-notice a {
    color: #1437f5 !important;
}

body.dark .el-notice {
    @extend .el-alert;
    color: #3c67f6 !important;
    background-color: rgba(21, 96, 208, 0.05) !important;
    border-color: rgba(60, 103, 246, 0.4) !important;
    color-scheme: dark;
}

body.dark .el-notice a {
    color: #3c67f6 !important;
}

// INFO
.el-info {
    @extend .el-alert;
    color: #0d0d0d !important;
    background-color: #e4d9c3 !important;
    border-color: #cdc3b0 !important;
}

.el-info a {
    color: #0d0d0d !important;
}

body.dark .el-info {
    @extend .el-alert;
    color: #fffbf0 !important;
    background-color: #171615 !important;
    border-color: #2e2d2c !important;
    color-scheme: dark;
}

body.dark .el-info a {
    color: #fffbf0 !important;
}

// supports the "cardlink" shortcode CTA
.el-cardlink {
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 134px;
    margin-bottom: 8px;
    margin-top: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 16px;
    font-variation-settings: normal;
    font-weight: 400;
    line-height: 28px;
    tab-size: 4;
    text-size-adjust: 100%;
    text-decoration-color: #ffffff00;
    background-color: rgb(255, 255, 255);
    border-color: rgba(4, 9, 24, 0.1);
    border-style: solid;
    border-width: 1px;
    box-shadow:
        rgb(255, 255, 255) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 2px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    border-radius: 12px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.dark .el-cardlink {
    color: rgb(242, 244, 250) !important;
    background-color: rgb(9, 10, 15) !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
    color-scheme: dark;
}

.el-cardlink:hover {
    border: 1px solid #1d41dc !important;
}

body.dark .el-cardlink:hover {
    border: 1px solid #1d41dc !important;
}

.footer-line-padding {
    padding-top: 38px;
}

.footer-line {
    width: 100%;
    height: 1px;
    background: #cdc3b0;
}

body.dark .footer-line {
    background: #2e2d2c;
}

.footer-separator {
    width: 1px;
    height: 38px;
    background: #cdc3b0;
}

body.dark .footer-separator {
    background: #2e2d2c;
}

.docs-navigation {
    padding-top: 38px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.docs-navigation a {
    text-decoration: none !important;
}

.footer-card {
    border-radius: 2px;
    border: 1px solid #7e786c;
    background: #ded4be;
    height: 38px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    color: #0d0d0d;
    font-feature-settings: "ss04" on;
    font-family: "IBM Plex Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

body.dark .footer-card {
    color: #fffbf0;
    border-radius: 2px;
    border: 1px solid rgba(255, 251, 240, 0.45);
    background: #1d1c1b;
}

// support for showing images on docs pages justified to the content column
img {
    width: 100%;
}

img.light-only {
    display: block;
}

img.dark-only {
    display: none;
}

body.dark img.light-only {
    display: none;
}

body.dark img.dark-only {
    display: block;
}

.version-select {
    border-radius: 2px;
    color: #0d0d0d99;
    border-color: #cdc3b0;
    background: #cdc3b0;
    font-feature-settings: "ss03" on;
    font-family: "IBM Plex Mono";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 90px;
    height: 32px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 6.02944L9.5 3L12.5 6.02944L11.5389 7L9.5 4.94113L7.46113 7L6.5 6.02944Z" fill="%23171615"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 11.9706L9.5 15L6.5 11.9706L7.46113 11L9.5 13.0589L11.5389 11L12.5 11.9706Z" fill="%23171615"/></svg>') !important;
    background-position: 65px 5px !important;
    background-repeat: no-repeat !important;
}

body.dark .version-select {
    color: #fffbf099;
    background: #2e2d2c;
    border-color: #2e2d2c;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 6.02944L9.5 3L12.5 6.02944L11.5389 7L9.5 4.94113L7.46113 7L6.5 6.02944Z" fill="%23E4D9C3"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 11.9706L9.5 15L6.5 11.9706L7.46113 11L9.5 13.0589L11.5389 11L12.5 11.9706Z" fill="%23E4D9C3"/></svg>') !important;
}

.version-select:hover {
    color: #0d0d0d;
    background: #cdc3b0;
    border-color: #cdc3b0;
}

body.dark .version-select:hover {
    color: #fffbf0;
    background: #2e2d2c;
    border-color: #2e2d2c;
}

.version-select:focus {
    border-color: #b6ae9c !important;
    box-shadow: 0 0 0 0.2rem #b6ae9c !important;
    background-color: rgba(13, 13, 13, 0.05) !important;
}

body.dark .version-select:focus {
    border-color: #454544 !important;
    box-shadow: 0 0 0 0.2rem #454544 !important;
    background-color: rgba(255, 251, 240, 0.05) !important;
}
